body{
    font-family:'Franklin Gothic Medium';
    text-align: center;
    margin: 10px;
    padding: 4;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-image: url("pkm.jpg") ;
    color: #ffcb10;
    background-color: rgb(37, 7, 66);
}
img{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}
button {
    background-color: white;
    color: #ffcb10;
    border: 2px solid #ffcb10; 
    width: 170px;
    border-radius: 4px;
    margin: 24px;
    display: inline-block
    
  }
  button {
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: #ffcb10;
    color: white;
    box-shadow: 0 0 30px   #ffcb10;
  }
h2{
    text-align: justify;
}
.batata{
    border: 5px solid;
    border-color:  #ffcb10;
    border-radius: 4px;
    padding: 10px;
    background-color: rgb(36, 33, 1);
    margin: 15px;
}


